// Colors

$color-prim-dark: #5e5e5e;
$color-grey-light: #ababab;
$color-grey-dark: #919191;

$color-black: #000;
$color-black-light: #191a1d;

$color-white-gray: rgba(255, 255, 255, 0.5);
$color-white: #ffffff;

$color-blue: #4b6cc1;

// Alignment

.margin-low {
  margin-top: -10rem;
}
