@import '../abstracts/variables';

.section-featured {
  padding: 14rem 0;
}

.container {
  display: flex;
  width: 93%;
  margin: 0 auto;
}

.fig-img {
  &__image {
    height: 60vh;
    width: 60vw;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  }
}

.featured-content {
  padding-left: 10rem;

  &__text {
    font-size: 2.6rem;
    font-weight: 300;
    color: $color-prim-dark;
    line-height: 1.5;
    margin-bottom: 8rem;
  }
}

.heading-container {
  padding-bottom: 6rem;
  width: 93%;
  margin: 0 auto;
}
